Here is the user's code:
<user_code>
{% for file_name, file_content in file_data %}
<{{file_name}}>
{{file_content}}
</{{file_name}}>
{% endfor %}
</user_code>

And here is the output of the first script that they are trying to debug:
<script_output>
{{script_output}}
</script_output>
